n8n-upload-workflow-updated.json
{
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "upload",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "ca8bbd74-9705-46fb-8e9c-8d95b457e649",
      "name": "Webhook Upload",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1.1,
      "position": [1632, 6448],
      "webhookId": "65ffbe5b-834e-4dd2-b1f0-dcc7e9c14604"
    },
    {
      "parameters": {
        "jsCode": "const body = $input.item.json.body;\nconst fileId = body.fileId;\nconst userId = body.userId;\nconst organizationId = body.organizationId || null;\nconst departmentId = body.departmentId || null;\nconst fileName = body.fileName || 'unknown';\nconst fileUrl = body.fileUrl;\n\nif (!fileId || !fileUrl || !userId) {\n  throw new Error('fileId, fileUrl, and userId are required');\n}\n\nlet bucket, key;\nif (fileUrl.startsWith('https://')) {\n  const urlParts = fileUrl.replace('https://', '').split('/');\n  const domain = urlParts[0];\n  if (domain.includes('.s3.')) {\n    bucket = domain.split('.')[0];\n    key = urlParts.slice(1).join('/');\n  }\n}\n\nif (!bucket || !key) {\n  throw new Error('Invalid S3 URL format');\n}\n\nreturn {\n  fileId,\n  userId,\n  organizationId,\n  departmentId,\n  fileName,\n  s3Bucket: bucket,\n  s3Key: key\n};"
      },
      "id": "dc5a4d1f-345d-43c2-9e9d-96060a074a58",
      "name": "Parse S3 URL",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1856, 6448]
    },
    {
      "parameters": {
        "bucketName": "={{ $json.s3Bucket }}",
        "fileKey": "={{ $json.s3Key }}"
      },
      "id": "0baf5486-2eb6-4c22-bc07-aeafe690ab10",
      "name": "AWS S3 Download",
      "type": "n8n-nodes-base.awsS3",
      "typeVersion": 1,
      "position": [2080, 6448],
      "credentials": {
        "aws": {
          "id": "Enrhl4TtlJcrQyzI",
          "name": "AWS (IAM) account"
        }
      }
    },
    {
      "parameters": {
        "dataType": "binary",
        "textSplittingMode": "custom",
        "options": {
          "splitPages": true,
          "metadata": {
            "metadataValues": [
              {
                "name": "fileId",
                "value": "={{ $('Parse S3 URL').item.json.fileId }}"
              },
              {
                "name": "userId",
                "value": "={{ $('Parse S3 URL').item.json.userId }}"
              },
              {
                "name": "organizationId",
                "value": "={{ $('Parse S3 URL').item.json.organizationId }}"
              },
              {
                "name": "departmentId",
                "value": "={{ $('Parse S3 URL').item.json.departmentId }}"
              },
              {
                "name": "fileName",
                "value": "={{ $('Parse S3 URL').item.json.fileName }}"
              },
              {
                "name": "uploadedAt",
                "value": "={{ $now.toISO() }}"
              }
            ]
          }
        }
      },
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "typeVersion": 1.1,
      "position": [2432, 6672],
      "id": "84852020-7aa5-4acf-9521-49b40de289ac",
      "name": "Document Loader"
    },
    {
      "parameters": {
        "chunkOverlap": 200,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.textSplitterRecursiveCharacterTextSplitter",
      "typeVersion": 1,
      "position": [2512, 6880],
      "id": "d38e8d42-c442-43ec-aed8-35d5214660eb",
      "name": "Text Splitter"
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.embeddingsGoogleGemini",
      "typeVersion": 1,
      "position": [2304, 6672],
      "id": "f7b58ecd-d5de-4b83-9bc1-6e0d7a6b0f83",
      "name": "Embeddings",
      "credentials": {
        "googlePalmApi": {
          "id": "ZAOAdLszpQe1usS9",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "mode": "insert",
        "mongoCollection": {
          "__rl": true,
          "value": "embedding_files",
          "mode": "name"
        },
        "vectorIndexName": "rag_vector_search_1",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStoreMongoDBAtlas",
      "typeVersion": 1.3,
      "position": [2336, 6448],
      "id": "69933dac-ca73-4576-82c1-b231c653e991",
      "name": "Vector Store",
      "credentials": {
        "mongoDb": {
          "id": "DTUm7hRi7TfDKEcE",
          "name": "MongoDB account 2"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const chunks = $input.all();\nconst first = $input.first().json;\nreturn {\n  success: true,\n  message: 'File embedded successfully',\n  fileId: first.metadata?.fileId,\n  fileName: first.metadata?.fileName,\n  chunks: chunks.length\n};"
      },
      "id": "5f17c110-b867-4e6b-9ee1-1827047839ab",
      "name": "Format Response1",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [2800, 6448]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json }}",
        "options": {}
      },
      "id": "def4adf1-d4ff-4bd9-b121-7aff4edc3e1f",
      "name": "Respond1",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [3024, 6448]
    }
  ],
  "connections": {
    "Webhook Upload": {
      "main": [[{"node": "Parse S3 URL", "type": "main", "index": 0}]]
    },
    "Parse S3 URL": {
      "main": [[{"node": "AWS S3 Download", "type": "main", "index": 0}]]
    },
    "AWS S3 Download": {
      "main": [[{"node": "Vector Store", "type": "main", "index": 0}]]
    },
    "Document Loader": {
      "ai_document": [[{"node": "Vector Store", "type": "ai_document", "index": 0}]]
    },
    "Text Splitter": {
      "ai_textSplitter": [[{"node": "Document Loader", "type": "ai_textSplitter", "index": 0}]]
    },
    "Embeddings": {
      "ai_embedding": [[{"node": "Vector Store", "type": "ai_embedding", "index": 0}]]
    },
    "Vector Store": {
      "main": [[{"node": "Format Response1", "type": "main", "index": 0}]]
    },
    "Format Response1": {
      "main": [[{"node": "Respond1", "type": "main", "index": 0}]]
    }
  },
  "pinData": {},
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "749afbba9c6a9d23df7b16459183ee0d8cf1112b4ef6282f0b464180cfb645ea"
  }
}
