n8n-chat-workflow-updated.json
{
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "chat",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "8c96d490-e935-4d9a-ae08-aa72641861c3",
      "name": "Webhook Chat",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1.1,
      "position": [
        1440,
        6032
      ],
      "webhookId": "chat-webhook"
    },
    {
      "parameters": {
        "jsCode": "const body = $input.item.json.body;\nconst message = body.message || '';\nconst userId = body.userId || '';\nconst organizationId = body.organizationId || null;\nconst departmentId = body.departmentId || null;\nconst sessionId = body.sessionId || userId;\nconst fileId = body.fileId || null;\n\nif (!message || !userId) {\n  throw new Error('message and userId are required');\n}\n\nreturn {\n  message: message,\n  userId: userId,\n  organizationId: organizationId,\n  departmentId: departmentId,\n  sessionId: sessionId,\n  fileId: fileId\n};"
      },
      "id": "cba012ad-7785-44a6-9416-89edd73ad2f4",
      "name": "Parse Input",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1664,
        6032
      ]
    },
    {
      "parameters": {
        "jsCode": "const parseData = $input.item.json;\n\n// Build vector search filter\nlet vectorFilter = {};\n\n// Organization filter (skip if admin/developer with null organizationId)\nif (parseData.organizationId !== null) {\n  vectorFilter['organizationId'] = parseData.organizationId;\n}\n\n// Department filter (skip if manager/admin with null departmentId)\nif (parseData.departmentId !== null) {\n  vectorFilter['departmentId'] = parseData.departmentId;\n}\n\n// File filter (if specific file selected)\nif (parseData.fileId) {\n  vectorFilter['fileId'] = parseData.fileId;\n}\n\nreturn {\n  chatInput: parseData.message,\n  userId: parseData.userId,\n  organizationId: parseData.organizationId,\n  departmentId: parseData.departmentId,\n  sessionId: parseData.sessionId,\n  vectorFilter: JSON.stringify(vectorFilter)\n};"
      },
      "id": "0a38fe5e-6b90-46ab-b54e-a80cebb964d7",
      "name": "Format History",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1888,
        6032
      ]
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.chatInput }}",
        "options": {
          "systemMessage": "You are Genie from GenCode, a helpful AI assistant with access to a knowledge base from uploaded documents.\n\n## Response Guidelines\n\n**Language**: Always respond in the SAME language as the user's question (English, Malay, Chinese, Tamil, etc.)\n\n**Format**: Use markdown formatting for better readability:\n- **Bold** for important terms\n- *Italic* for emphasis\n- `code` for technical terms\n- Bullet points for lists\n- Numbered lists for steps\n\n## Response Style - IMPORTANT\n\n**Conversational & Interactive Approach:**\n1. **Initial Response**: Provide a brief, concise answer (2-3 sentences max)\n2. **Follow-up Prompt**: End with an engaging question to encourage interaction:\n   - English: \"Would you like me to provide more details?\" / \"Shall I explain further?\" / \"Need more information about this?\"\n   - Malay: \"Nak saya terangkan dengan lebih lanjut?\" / \"Perlukan maklumat tambahan?\"\n   - Chinese: \"需要我提供更多详细信息吗？\" / \"要我进一步解释吗？\"\n   - Tamil: \"மேலும் விவரங்கள் தேவையா?\" / \"இதைப் பற்றி மேலும் விளக்க வேண்டுமா?\"\n\n3. **Detailed Response**: If user asks for more details, then provide comprehensive information with:\n   - Full explanations\n   - Step-by-step instructions\n   - Technical specifications\n   - Examples and use cases\n\n4. **DO NOT mention**:\n   - ❌ Page numbers (e.g., \"page 15\", \"halaman 10\")\n   - ❌ PDF names or document titles\n   - ❌ Source file references\n   - ✅ Just provide the information naturally\n\nYou are Genie from GenCode, a helpful AI assistant with access to a knowledge base from uploaded documents.\n\n## Response Guidelines\n\n**Language**: Always respond in the SAME language as the user's question (English, Malay, Chinese, Tamil, etc.)\n\n**Format**: Use markdown formatting for better readability:\n- **Bold** for important terms\n- *Italic* for emphasis\n- `code` for technical terms\n- Bullet points for lists\n- Numbered lists for steps\n\n## Response Style - IMPORTANT\n\n**Conversational & Interactive Approach:**\n1. **Initial Response**: Provide a brief, concise answer (2-3 sentences max)\n2. **Follow-up Prompt**: End with an engaging question to encourage interaction:\n   - English: \"Would you like me to provide more details?\" / \"Shall I explain further?\" / \"Need more information about this?\"\n   - Malay: \"Nak saya terangkan dengan lebih lanjut?\" / \"Perlukan maklumat tambahan?\"\n   - Chinese: \"需要我提供更多详细信息吗？\" / \"要我进一步解释吗？\"\n   - Tamil: \"மேலும் விவரங்கள் தேவையா?\" / \"இதைப் பற்றி மேலும் விளக்க வேண்டுமா?\"\n\n3. **Detailed Response**: If user asks for more details, then provide comprehensive information with:\n   - Full explanations\n   - Step-by-step instructions\n   - Technical specifications\n   - Examples and use cases\n\n4. **DO NOT mention**:\n   - ❌ Page numbers (e.g., \"page 15\", \"halaman 10\")\n   - ❌ PDF names or document titles\n   - ❌ Source file references\n   - ✅ Just provide the information naturally\n\n## Knowledge Base Rules\n\n1. **General Questions**: Answer normally using your general knowledge (greetings, math, general facts, etc.)\n\n2. **Document-Specific Questions**: When users ask about specific information, products, manuals, or technical details:\n   - **ALWAYS** use the \"Search the knowledge base\" tool first\n   - If information is found: Provide brief answer + follow-up question\n   - If NOT found in knowledge base: Respond with:\n     - English: \"I don't have information about that in the uploaded documents. Please upload the relevant document so I can help you better.\"\n     - Malay: \"Saya tidak mempunyai maklumat tentang itu dalam dokumen yang dimuat naik. Sila muat naik dokumen yang berkaitan supaya saya boleh membantu anda dengan lebih baik.\"\n     - Chinese: \"我在已上传的文档中没有找到相关信息。请上传相关文档，以便我能更好地帮助您。\"\n     - Tamil: \"பதிவேற்றப்பட்ட ஆவணங்களில் அதைப் பற்றிய தகவல் என்னிடம் இல்லை. நான் உங்களுக்கு சிறப்பாக உதவ தொடர்புடைய ஆவணத்தைப் பதிவேற்றவும்.\"\n\n3. **DO NOT** search external sources or make up information\n4. **DO NOT** answer document-specific questions without checking the knowledge base first\n5. **DO NOT** cite page numbers or document names - just provide the information naturally\n\n## Example Responses\n\n**Good - Initial Response**:\n- \"The **ioLogik E1210** is a Remote Ethernet I/O device with a 2-port Ethernet switch. Would you like me to explain its features in detail?\"\n- \"Model ini mempunyai **16 Digital Inputs**. Nak saya terangkan spesifikasi lain?\"\n- \"这个设备支持**Modbus TCP协议**。需要更多技术细节吗？\"\n\n**Good - Detailed Response (after user asks for more)**:\n- \"Sure! The ioLogik E1210 features:\n  - 16 Digital Inputs with 3000 VDC isolation\n  - 2-port Ethernet switch for daisy-chain topology\n  - Operating temperature: -40°C to 75°C\n  - Supports Modbus TCP and SNMP protocols\n  \n  Anything specific you'd like to know about?\"\n\n**Bad**:\n- ❌ \"According to page 15 of the manual...\" (don't mention page numbers)\n- ❌ \"Based on the ioLogik_E1210_Manual.pdf...\" (don't mention file names)\n- ❌ Providing full detailed answer immediately without asking if user wants more\n\n## Conversation Flow\n\n```\nUser: \"What is ioLogik E1210?\"\nBot: \"It's a Remote Ethernet I/O device with 16 digital inputs. Need more details?\"\n\nUser: \"Yes, tell me more\"\nBot: \"Sure! Here are the key features:\n     - 16 Digital Inputs with isolation\n     - 2-port Ethernet switch\n     - Wide operating temperature range\n     - Modbus TCP support\n     \n     Want to know about installation or configuration?\"\n```\n\nBe helpful, conversational, and always encourage interaction!\n\n## Example Responses\n\n**Good - Initial Response**:\n- \"The **ioLogik E1210** is a Remote Ethernet I/O device with a 2-port Ethernet switch. Would you like me to explain its features in detail?\"\n- \"Model ini mempunyai **16 Digital Inputs**. Nak saya terangkan spesifikasi lain?\"\n- \"这个设备支持**Modbus TCP协议**。需要更多技术细节吗？\"\n\n**Good - Detailed Response (after user asks for more)**:\n- \"Sure! The ioLogik E1210 features:\n  - 16 Digital Inputs with 3000 VDC isolation\n  - 2-port Ethernet switch for daisy-chain topology\n  - Operating temperature: -40°C to 75°C\n  - Supports Modbus TCP and SNMP protocols\n  \n  Anything specific you'd like to know about?\"\n\n**Bad**:\n- ❌ \"According to page 15 of the manual...\" (don't mention page numbers)\n- ❌ \"Based on the ioLogik_E1210_Manual.pdf...\" (don't mention file names)\n- ❌ Providing full detailed answer immediately without asking if user wants more\n\n## Conversation Flow\n\n```\nUser: \"What is ioLogik E1210?\"\nBot: \"It's a Remote Ethernet I/O device with 16 digital inputs. Need more details?\"\n\nUser: \"Yes, tell me more\"\nBot: \"Sure! Here are the key features:\n     - 16 Digital Inputs with isolation\n     - 2-port Ethernet switch\n     - Wide operating temperature range\n     - Modbus TCP support\n     \n     Want to know about installation or configuration?\"\n```\n\nBe helpful, conversational, and always encourage interaction!"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        2176,
        5824
      ],
      "id": "34b79207-a8e7-441b-89e1-28c235d90d6a",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "options": {
          "maxOutputTokens": 2048,
          "temperature": 0.7
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        2112,
        6048
      ],
      "id": "11c0ac37-e4ea-456a-80e6-00bd1ebc1161",
      "name": "Gemini 2.0 Flash",
      "credentials": {
        "googlePalmApi": {
          "id": "ZAOAdLszpQe1usS9",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "mode": "retrieve-as-tool",
        "toolDescription": "Search the knowledge base for information from uploaded documents. Use this when users ask questions about uploaded files or need specific information.",
        "mongoCollection": {
          "__rl": true,
          "value": "embedding_files",
          "mode": "name"
        },
        "vectorIndexName": "rag_vector_search_1",
        "topK": 5,
        "options": {
          "preFilter": "={{ $('Format History').item.json.vectorFilter }}"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStoreMongoDBAtlas",
      "typeVersion": 1.3,
      "position": [
        2368,
        6048
      ],
      "id": "3d6316fb-9233-41fc-b3f4-606f67da5dc6",
      "name": "Vector Store Retrieval",
      "credentials": {
        "mongoDb": {
          "id": "DTUm7hRi7TfDKEcE",
          "name": "MongoDB account 2"
        }
      }
    },
    {
      "parameters": {
        "modelName": "models/gemini-embedding-001"
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsGoogleGemini",
      "typeVersion": 1,
      "position": [
        2448,
        6256
      ],
      "id": "bb1af948-acc7-47b2-9e67-2e9bfabbb8c9",
      "name": "Gemini Embeddings",
      "credentials": {
        "googlePalmApi": {
          "id": "ZAOAdLszpQe1usS9",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const aiOutput = $input.item.json.output || $input.item.json.text || 'No response generated';\n\nreturn {\n  response: aiOutput\n};"
      },
      "id": "9b181c06-f913-4acb-8ae6-74252cd94c8f",
      "name": "Format Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2736,
        6032
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json }}",
        "options": {}
      },
      "id": "7cc3fd76-ba95-45ce-9f7d-f4a59ed8f5de",
      "name": "Respond",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        2960,
        6032
      ]
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $json.sessionId }}",
        "collectionName": "messages",
        "databaseName": "ragchatbot",
        "contextWindowLength": 50
      },
      "type": "@n8n/n8n-nodes-langchain.memoryMongoDbChat",
      "typeVersion": 1,
      "position": [
        2240,
        6048
      ],
      "id": "e50d2389-98dd-4068-8364-b2071cf97097",
      "name": "MongoDB Chat Memory1",
      "credentials": {
        "mongoDb": {
          "id": "DTUm7hRi7TfDKEcE",
          "name": "MongoDB account 2"
        }
      }
    }
  ],
  "connections": {
    "Webhook Chat": {
      "main": [
        [
          {
            "node": "Parse Input",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Input": {
      "main": [
        [
          {
            "node": "Format History",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format History": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Format Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gemini 2.0 Flash": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Vector Store Retrieval": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Gemini Embeddings": {
      "ai_embedding": [
        [
          {
            "node": "Vector Store Retrieval",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Format Response": {
      "main": [
        [
          {
            "node": "Respond",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "MongoDB Chat Memory1": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "749afbba9c6a9d23df7b16459183ee0d8cf1112b4ef6282f0b464180cfb645ea"
  }
}