n8n-simple-working-workflow.json
{
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [2592, 1888],
      "id": "trigger",
      "name": "When clicking 'Execute workflow'"
    },
    {
      "parameters": {
        "jsCode": "return [\n  {\n    \"body\": {\n      \"message\": \"Hi, I have Yamaha R15 and I want service my motorbike. my mileage is 5,000. When is my next service and how much will it cost?\",\n      \"userId\": \"6982da7396d7c5095b63dff4\",\n      \"organizationId\": \"6978696e1c812aa6b6853bc4\",\n      \"departmentId\": \"6982d9f796d7c5095b63dff1\",\n      \"sessionId\": \"6983f71c96d7c5095b63e0ad\",\n      \"fileId\": null\n    }\n  }\n]"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [2816, 1888],
      "id": "test-data",
      "name": "Test Data"
    },
    {
      "parameters": {
        "jsCode": "const body = $input.item.json.body;\nconst message = body.message || '';\nconst userId = body.userId || '';\nconst organizationId = body.organizationId || null;\nconst departmentId = body.departmentId || null;\nconst sessionId = body.sessionId || userId;\nconst fileId = body.fileId || null;\n\nif (!message || !userId) {\n  throw new Error('message and userId are required');\n}\n\nreturn {\n  message: message,\n  userId: userId,\n  organizationId: organizationId,\n  departmentId: departmentId,\n  sessionId: sessionId,\n  fileId: fileId\n};"
      },
      "id": "parse-input",
      "name": "Parse Input",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [3040, 1888]
    },
    {
      "parameters": {
        "jsCode": "const parseData = $input.item.json;\n\n// Build vector search filter - org level only (no dept filter)\nlet vectorFilter = {};\n\nif (parseData.organizationId !== null) {\n  vectorFilter['organizationId'] = parseData.organizationId;\n}\n\nif (parseData.fileId) {\n  vectorFilter['fileId'] = parseData.fileId;\n}\n\nreturn {\n  chatInput: parseData.message,\n  userId: parseData.userId,\n  organizationId: parseData.organizationId,\n  departmentId: parseData.departmentId,\n  sessionId: parseData.sessionId,\n  fileId: parseData.fileId,\n  vectorFilter: JSON.stringify(vectorFilter)\n};"
      },
      "id": "format-history",
      "name": "Format History",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [3264, 1888]
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.chatInput }}",
        "options": {
          "systemMessage": "You are Genie from GenCode, a helpful AI assistant with access to a knowledge base from uploaded documents.\n\n## Response Guidelines\n\n**Language**: Always respond in the SAME language as the user's question (English, Malay, Chinese, Tamil, etc.)\n\n**Format**: Use markdown formatting for better readability:\n- **Bold** for important terms\n- *Italic* for emphasis\n- `code` for technical terms\n- Bullet points for lists\n- Numbered lists for steps\n\n## Response Style - IMPORTANT\n\n**Conversational & Interactive Approach:**\n1. **Initial Response**: Provide a brief, concise answer (2-3 sentences max)\n2. **Follow-up Prompt**: End with an engaging question to encourage interaction\n3. **Detailed Response**: If user asks for more details, provide comprehensive information\n\n4. **DO NOT mention**:\n   - ❌ Page numbers, PDF names, source files, tool names\n   - ✅ Just provide the information naturally\n\n## Knowledge Base Rules\n\n1. **General Questions**: Answer using your general knowledge\n2. **Document-Specific Questions**: Use the \"Search the knowledge base\" tool\n3. **CRITICAL**: Synthesize information naturally, don't return raw data\n4. **DO NOT** search external sources or make up information\n\nBe helpful, conversational, and always encourage interaction!\n\nRemember: **Always respond in the SAME language as the user's question!**"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [3488, 1888],
      "id": "ai-agent",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "options": {
          "maxOutputTokens": 2048,
          "temperature": 0.7
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [3488, 2096],
      "id": "gemini-model",
      "name": "Gemini 2.0 Flash",
      "credentials": {
        "googlePalmApi": {
          "id": "ZAOAdLszpQe1usS9",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "mode": "retrieve-as-tool",
        "toolDescription": "Search the knowledge base for information from uploaded documents. Use this when users ask questions about uploaded files or need specific information.",
        "mongoCollection": {
          "__rl": true,
          "value": "embedding_files",
          "mode": "name"
        },
        "vectorIndexName": "rag_vector_search_1",
        "topK": 5,
        "options": {
          "preFilter": "={{ $('Format History').item.json.vectorFilter }}"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStoreMongoDBAtlas",
      "typeVersion": 1.3,
      "position": [3680, 2096],
      "id": "vector-store",
      "name": "Vector Store Retrieval",
      "credentials": {
        "mongoDb": {
          "id": "DTUm7hRi7TfDKEcE",
          "name": "MongoDB account 2"
        }
      }
    },
    {
      "parameters": {
        "modelName": "models/gemini-embedding-001"
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsGoogleGemini",
      "typeVersion": 1,
      "position": [3680, 2304],
      "id": "gemini-embeddings",
      "name": "Gemini Embeddings",
      "credentials": {
        "googlePalmApi": {
          "id": "ZAOAdLszpQe1usS9",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const llmOutput = $input.item.json.output || $input.item.json.text || 'No response';\n\nreturn {\n  response: llmOutput\n};"
      },
      "id": "format-response",
      "name": "Format Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [3712, 1888]
    }
  ],
  "connections": {
    "When clicking 'Execute workflow'": {
      "main": [[{ "node": "Test Data", "type": "main", "index": 0 }]]
    },
    "Test Data": {
      "main": [[{ "node": "Parse Input", "type": "main", "index": 0 }]]
    },
    "Parse Input": {
      "main": [[{ "node": "Format History", "type": "main", "index": 0 }]]
    },
    "Format History": {
      "main": [[{ "node": "AI Agent", "type": "main", "index": 0 }]]
    },
    "AI Agent": {
      "main": [[{ "node": "Format Response", "type": "main", "index": 0 }]]
    },
    "Gemini 2.0 Flash": {
      "ai_languageModel": [[{ "node": "AI Agent", "type": "ai_languageModel", "index": 0 }]]
    },
    "Vector Store Retrieval": {
      "ai_tool": [[{ "node": "AI Agent", "type": "ai_tool", "index": 0 }]]
    },
    "Gemini Embeddings": {
      "ai_embedding": [[{ "node": "Vector Store Retrieval", "type": "ai_embedding", "index": 0 }]]
    }
  },
  "pinData": {}
}
