n8n-upload-workflow-updated.json
{
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "upload",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "ad85420e-fb58-4d69-86f5-82d87eddfd39",
      "name": "Webhook Upload",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1.1,
      "position": [
        1440,
        6672
      ],
      "webhookId": "65ffbe5b-834e-4dd2-b1f0-dcc7e9c14604"
    },
    {
      "parameters": {
        "jsCode": "const body = $input.item.json.body;\nconst fileId = body.fileId;\nconst userId = body.userId;\nconst organizationId = body.organizationId || null;\nconst departmentId = body.departmentId || null;\nconst fileName = body.fileName || 'unknown';\nconst fileUrl = body.fileUrl;\n\nif (!fileId || !fileUrl || !userId) {\n  throw new Error('fileId, fileUrl, and userId are required');\n}\n\nlet bucket, key;\nif (fileUrl.startsWith('https://')) {\n  const urlParts = fileUrl.replace('https://', '').split('/');\n  const domain = urlParts[0];\n  if (domain.includes('.s3.')) {\n    bucket = domain.split('.')[0];\n    key = urlParts.slice(1).join('/');\n  }\n}\n\nif (!bucket || !key) {\n  throw new Error('Invalid S3 URL format');\n}\n\nreturn {\n  fileId,\n  userId,\n  organizationId,\n  departmentId,\n  fileName,\n  s3Bucket: bucket,\n  s3Key: key\n};"
      },
      "id": "f379f7fa-54ac-4c12-b56e-b22c41487bb8",
      "name": "Parse S3 URL",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1664,
        6672
      ]
    },
    {
      "parameters": {
        "bucketName": "={{ $json.s3Bucket }}",
        "fileKey": "={{ $json.s3Key }}"
      },
      "id": "19ea8b18-0cdb-498a-8372-81dc96bf3b76",
      "name": "AWS S3 Download",
      "type": "n8n-nodes-base.awsS3",
      "typeVersion": 1,
      "position": [
        1888,
        6672
      ],
      "credentials": {
        "aws": {
          "id": "Enrhl4TtlJcrQyzI",
          "name": "AWS (IAM) account"
        }
      }
    },
    {
      "parameters": {
        "dataType": "binary",
        "textSplittingMode": "custom",
        "options": {
          "splitPages": true,
          "metadata": {
            "metadataValues": [
              {
                "name": "fileId",
                "value": "={{ $('Parse S3 URL').item.json.fileId }}"
              },
              {
                "name": "userId",
                "value": "={{ $('Parse S3 URL').item.json.userId }}"
              },
              {
                "name": "organizationId",
                "value": "={{ $('Parse S3 URL').item.json.organizationId }}"
              },
              {
                "name": "departmentId",
                "value": "={{ $('Parse S3 URL').item.json.departmentId }}"
              },
              {
                "name": "fileName",
                "value": "={{ $('Parse S3 URL').item.json.fileName }}"
              },
              {
                "name": "uploadedAt",
                "value": "={{ $now.toISO() }}"
              }
            ]
          }
        }
      },
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "typeVersion": 1.1,
      "position": [
        2240,
        6896
      ],
      "id": "8a18bfef-f10f-44dd-9417-7f88e480fb69",
      "name": "Document Loader"
    },
    {
      "parameters": {
        "chunkOverlap": 200,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.textSplitterRecursiveCharacterTextSplitter",
      "typeVersion": 1,
      "position": [
        2320,
        7104
      ],
      "id": "e3d5d228-e369-47ca-9a58-5d00f1c3d861",
      "name": "Text Splitter"
    },
    {
      "parameters": {
        "modelName": "models/gemini-embedding-001"
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsGoogleGemini",
      "typeVersion": 1,
      "position": [
        2112,
        6896
      ],
      "id": "d052bf09-d631-451d-af18-2daa569d6d70",
      "name": "Embeddings",
      "credentials": {
        "googlePalmApi": {
          "id": "ZAOAdLszpQe1usS9",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "mode": "insert",
        "mongoCollection": {
          "__rl": true,
          "value": "embedding_files",
          "mode": "name"
        },
        "vectorIndexName": "rag_vector_search_1",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStoreMongoDBAtlas",
      "typeVersion": 1.3,
      "position": [
        2144,
        6672
      ],
      "id": "ad313b36-4b71-4015-b702-e2e4cd144c64",
      "name": "Vector Store",
      "credentials": {
        "mongoDb": {
          "id": "DTUm7hRi7TfDKEcE",
          "name": "MongoDB account 2"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const chunks = $input.all();\nconst first = $input.first().json;\nreturn {\n  success: true,\n  message: 'File embedded successfully',\n  fileId: first.metadata?.fileId,\n  fileName: first.metadata?.fileName,\n  chunks: chunks.length\n};"
      },
      "id": "7d349c7a-f31f-41b0-96d8-3adc147a1e40",
      "name": "Format Response1",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2608,
        6672
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json }}",
        "options": {}
      },
      "id": "53fa80ad-6599-43c1-88ea-dd646fe0f369",
      "name": "Respond1",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        2832,
        6672
      ]
    }
  ],
  "connections": {
    "Webhook Upload": {
      "main": [
        [
          {
            "node": "Parse S3 URL",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse S3 URL": {
      "main": [
        [
          {
            "node": "AWS S3 Download",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AWS S3 Download": {
      "main": [
        [
          {
            "node": "Vector Store",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Document Loader": {
      "ai_document": [
        [
          {
            "node": "Vector Store",
            "type": "ai_document",
            "index": 0
          }
        ]
      ]
    },
    "Text Splitter": {
      "ai_textSplitter": [
        [
          {
            "node": "Document Loader",
            "type": "ai_textSplitter",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings": {
      "ai_embedding": [
        [
          {
            "node": "Vector Store",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Vector Store": {
      "main": [
        [
          {
            "node": "Format Response1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Response1": {
      "main": [
        [
          {
            "node": "Respond1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "749afbba9c6a9d23df7b16459183ee0d8cf1112b4ef6282f0b464180cfb645ea"
  }
}