Rag_chatbot_OLD/n8n-book-service-tool.json
{
  "name": "Book Motor Service - Tool Workflow",
  "nodes": [
    {
      "parameters": {},
      "id": "start-1",
      "name": "Execute Workflow Trigger",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1,
      "position": [240, 300]
    },
    {
      "parameters": {
        "jsCode": "// Hardcoded test data - replace with actual input later\nconst input = $input.item.json;\n\n// Build API payload with hardcoded values for testing\nconst payload = {\n  start_time: input.start_time || \"2026-02-04 10:00:00\",\n  finish_time: input.finish_time || \"2026-02-04 23:59:59\",\n  model: input.model || \"NVX\",\n  plate: input.plate || \"TEST123\",\n  mileage: input.mileage || \"5000\",\n  comments: input.comments || \"Booked via AI Agent\",\n  service_types: input.service_types || [\"Regular Service\"],\n  category: \"2\",\n  customer: {\n    ic_passport: input.customer?.ic_passport || \"123456789012\",\n    name: input.customer?.name || \"Test User\",\n    phone: input.customer?.phone || \"0123456789\"\n  },\n  agent_id: \"1\",\n  transfer_company_id: \"378\",\n  platform_source: \"CHATBOT\",\n  platform_company: \"1\",\n  company_id: \"1\"\n};\n\nreturn { payload, originalInput: input };"
      },
      "id": "format-1",
      "name": "Format API Request",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [460, 300]
    },
    {
      "parameters": {
        "jsCode": "// Simulate successful booking response\nconst payload = $input.item.json.payload;\nconst originalInput = $input.item.json.originalInput;\n\n// Mock successful response\nconst mockResponse = {\n  success: true,\n  booking_id: \"BOOK\" + Date.now(),\n  message: \"Booking created successfully\",\n  data: {\n    start_time: payload.start_time,\n    model: payload.model,\n    plate: payload.plate,\n    customer: payload.customer.name\n  }\n};\n\nreturn {\n  success: true,\n  message: `✅ Service booked successfully!\\n\\nBooking ID: ${mockResponse.booking_id}\\nModel: ${payload.model}\\nPlate: ${payload.plate}\\nDate: ${payload.start_time}\\nCustomer: ${payload.customer.name}\\n\\nYour appointment is confirmed!`,\n  bookingId: mockResponse.booking_id,\n  details: mockResponse\n};"
      },
      "id": "mock-api-1",
      "name": "Mock API Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [680, 300]
    }
  ],
  "connections": {
    "Execute Workflow Trigger": {
      "main": [[{ "node": "Format API Request", "type": "main", "index": 0 }]]
    },
    "Format API Request": {
      "main": [[{ "node": "Mock API Response", "type": "main", "index": 0 }]]
    }
  },
  "pinData": {}
}
